#Place this file in /etc/systemd/system/ to start on boot
# Run sudo systemctl enable golf.service # to enable this
# Run sudo systemctl restart golf.service # to restart
# run sudo systemctl start golf.service # to start
# run sudo systemctl stop golf.service # to stop
# run sudo systemctl status golf.service to see if the service is running on the pi
[Unit]
Description=Golf Hole Program
After=network.target

[Service]
Type=simple
#ExecStart=/usr/bin/python /home/pi/CanCanWonderland/CanCan/cancanlights3.4.py 3
ExecStart=/usr/bin/python /home/pi/CanCanWonderland/CanCan/cancanlights4.4.py 108 1
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
